# config.yaml
data:
  dataset_name: "Himawari8"
  train_data_path: "/opt/data/share/jzx/zone1/p1/Dataset/GOES/GOES_Day/GOES_Day.h5"
  train_json_path: "/opt/data/share/jzx/zone1/p1/Dataset/GOES/GOES_Day/GOES_Day_all.json"
  train_dataset_prefix: '2020'
  train_ratio: 0.9
  train_random_flip: 0.5
  test_data_path: "/opt/data/share/jzx/zone1/p1/Dataset/GOES/GOES_Day_test/GOES_Day_test.h5"
  test_json_path: "/opt/data/share/jzx/zone1/p1/Dataset/GOES/GOES_Day/GOES_Day_all.json"
  test_dataset_prefix: '2021'
  num_workers: 8
  pin_memory: false
  rescaled: false

model:
  input_size: [6, 256, 256]  # (T, H, W)
  in_channels_c: 16          # C_x + C_y (8+8)
  out_channels_c: 8          # C_x
  time_emb_dim: null
  patch_size: 16
  hidden_size: 768
  depth: 12
  num_heads: 12
  mlp_ratio: 4.0
  bottleneck_dim: 256

meanflow:
  # 对应 MeanFlow 的参数
  flow_ratio: 1.0            # 1.0 = 仅标准流匹配, 0.5 = 混合 JVP 损失
  time_dist: ['lognorm', -0.4, 1.0]
  cfg_ratio: 0.50
  cfg_scale: 2.0
  cfg_uncond: 'v'

optimizer:
  lr: 1.0e-4
  weight_decay: 0.0

scheduler:
  num_warmup_steps: 5000

training:
  n_steps: 1000000
  gradient_clip_val: 1.0
  # batch_size 将从命令行传入

logging:
  project_name: "MeanFlow_GOES"
  log_every_n_steps: 100       # 终端和 Wandb 的 Loss 打印频率
  save_step_frequency: 100000    # Checkpoint 和 可视化采样 频率

eval:
  train_example_data_idx_list: []
  val_example_data_idx_list: []
  # test_example_data_idx_list: [514]
  test_example_data_idx_list: []
  # test_example_data_idx_list: [0,16,32,48,64,80]  # 测试时可视化的样本 ID 列表